body{
  text-align: center;
  padding: 50px;
  margin: 0;
}

.app_form{
  padding: 10px;
  position: fixed;
  bottom: 0px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: 0 0 2px 0 #333;
  z-index: 1;
  background-color: #f0f0f0 !important;
}

.app_child{
  width: 100%;
  display: flex;
  flex-direction: row !important;
  gap: 10px;
}

.app_child > div{
  flex: 1;
  padding-left: 15px;
}

.bg{
  background-color: #f3f3f3;
}

.app_child button{
  padding: 5px 12px !important;
  background-color: rgba(128, 0, 122, 0.192);
  border-radius: 0;
  flex: 0;
}